@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

header {
  display: inline;
}

nav {
  display: flex;
  background-color: #1f1243;
  padding: 2rem 4rem;
  top: 0;
}

nav .app-title {
  font-size: 24px;
  color: #fff;
}

.container {
  padding: 2rem 4rem;
  background-color: #1f1243;
}

footer {
  background-color: #fafafa;
  color: #666;
  text-align: center;
  padding: 2rem;
}

footer a {
  color: #1f1243;
}

.box {
  max-width: 500px;
  padding: 1.5rem;
  border-radius: 30px;
  background-color: #4a386f;
  margin: auto;
  text-align: center;
  color: #fff;
}

.btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  color: #000;
  padding: 1rem 2rem;
  transition: 0.3s;
  text-decoration: none;
}

.btn:hover {
  background-color: #ddd;
  cursor: pointer;
}

.timers {
  margin: 0.5rem 0rem 1rem 0rem;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.timers div {
  display: inline-block;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.in {
  display: inline-block;
  margin: 0.2rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  border: none;
  border-radius: 6px;
}

.in:hover {
  cursor: pointer;
}

#break,
#count,
button {
  font-size: 20px;
}

.title {
  font-size: 25px;
  margin-top: 1rem;
}

.timer {
  font-size: 80px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.task-header {
  margin: 0rem 1rem 2rem 1rem;
  color: #fff;
  text-align: center;
}

.task-header:after {
  content: "";
  display: table;
  clear: both;
}

.task-header p {
  font-size: 24px;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 1rem;
  float: left;
  font-size: 16px;
}

#myUL {
  margin: 0;
  padding: 0;
}

#myUL li {
  cursor: pointer;
  position: relative;
  padding: 1rem;
  list-style-type: none;
  background: #eee;
  font-size: 16px;
  color: #000;
  transition: 0.2s;
  margin: 1rem;
  border-radius: 8px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#myUL li:hover {
  background: #ddd;
}

#myUL li.checked {
  background: #77629e;
  color: #fff;
  text-decoration: line-through;
}

#myUL .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

#myUL .close:hover {
  background-color: #f44336;
  color: #fff;
}

.addBtn {
  padding: 0.8rem;
  width: 25%;
  background: #4a386f;
  color: #fff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: #bbb;
}

#about {
  background-color: #fafafa;
  color: #1f1243;
}

#about .close {
  display: none;
}

@media screen and (max-width: 992px) {
  nav {
    padding: 1rem;
  }

  .container {
    padding: 1rem;
  }

  .task-header {
    margin: 2rem 0;
  }

  #myUL li {
    margin: 1rem 0;
  }
}
